.board-app h1{
    padding-top: 20px;
    font-weight: 300;
}
.add-board-form{
justify-content: center;
align-items: center;
text-align: center;
.board-name-input{
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    border: px solid black;
    border-radius: 3px;
}

}
