.board-app{
    height:92.5vh;
    padding-top: 20px;
    @media (max-width:1200px){
        padding: 0 10px;
    }
    @media (max-width:810px){
        height: auto;
    }

}

.board-app h1{
    font-weight: 800;
    color:#06748a ;
    font-family: hand-write;
    font-size: xxx-large;
    margin:0;

}
.ba-boards{
h1{
    padding-top:60px;
}

}
.ba-templates{
    margin-top:40px;
    height: 30vh;

}
@media (max-width:810px){
.ba-boards,.ba-templates{
    flex-direction: column;
    height: auto;
    .h1-div{
        width:100%;
        margin-top: 20px;
        h1{
            font-size: 2.5rem;
        }
    }
}
}


.add-board-form{
justify-content: center;
align-items: center;
text-align: center;
.board-name-input{
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 3px;
}

}
