.board-app{
    height:92.5vh;
    padding-top: 20px;
}

.board-app h1{
    padding-top: 20px;
    font-weight: 800;
    color:#06748a ;
 
    font-family: hand-write;
    font-size: 3.5rem;

}
.ba-boards{
 
    // padding:0 40px;

    @media (max-width:820px){
        padding:0 20px;
       .h1{
           margin-top:0;
           
       } 
    }
}
.ba-templates{
    margin-top:40px;
    height: 30vh;
    // padding:0 40px;
  .h1{
      margin:0;
  }


}


.add-board-form{
justify-content: center;
align-items: center;
text-align: center;
.board-name-input{
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    border: 0 solid black;
    border-radius: 3px;
}

}
