.board-details{
    height: calc(100vh - 50px);


.groups-container{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    white-space: nowrap;
    list-style-type: none;
    padding-right: 20px;
    flex-wrap: nowrap;
    height: calc(100vh - 88px);
    justify-items: center;
}
.add-group{
    height: 30px;
    margin-top: 7px;
    width: 260px;
    text-shadow:none;
}

footer{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    height:150px;
    bottom:0;
    position:fixed;
    background-color:#077a919f;
    width:100%;
    &:hover{
        cursor: pointer;
        background-color: #f4f5f76b;
        color:rgb(2, 3, 99);
    }
}
}