.home{

text-align: center;
color:rgb(10, 10, 10);
font-size: 3rem;
font-family: hand-write;
background-color: #13809F;
position: relative;
  a{
  color:white;
  margin-top: 50px;
  font-size: 3.5rem;
  font-weight: 600;
  position:fixed;
  transform: scale(1);
animation: tilt 5s infinite;
font-family: vidaloka;
}

p{
  transform: translate(395px, 65px);
}

img{
  max-width: 100vw;
  // max-height: 100vh;
  max-height: calc(100vh - 60px);
}
h1{
  font-weight: 600;
  margin:90px 0 105px;
  margin-inline-end: 12%;
  font-size: 5.5rem;

}
}
pre{
  margin:10px 0;
margin-inline-end: 32%;
font-family: hand-write;
}


@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  95%{ 
    transform: rotate(-0.4deg);

  }
  100% {
    transform: rotate(0deg);

  }

}
.second{
  background-color: #FFEEDC;

}
.home p{
  margin: 0;
  // position:absolute;
}
.home a:hover{
  animation-play-state: paused;
}
.home p:hover{
  color:black;
}

.home-details-comtainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  color:#15466b;
  font-family: montserrat-medium;
  background-color: #fff;
}


.home-details {
  height: 350px;

  img {
    width: 40%;
    height: 100%;
    object-fit: contain;
    
  }
  .info {
    margin: auto 0;
    margin: auto 20px auto 30px;
    text-align: start;
    h2 {
      font-size: 1.875rem;
      font-family: montserrat-medium;
    }
    p {
      font-family: montserrat-regular;
      font-size: 1.3rem;
      margin-right: 40px
    }
  }
}
@media (max-width:900px){
  .home{
   .enter{
    display:none;
    }
  }
}
@media (max-width: 700px){
  .home-details{
    flex-direction: column-reverse;
height: auto;
    img{
      width:100%;
      height: 300px;
    }
    .info{
      margin: auto 30px;
      text-align: center;

      h2{
        font-size: 1.875rem;
        font-family: montserrat-medium;
      }
      p{
        font-family: montserrat-regular;
        font-size: 1.3rem;
      }
    }
  }
  .second{
    flex-direction: column;
  }
}
@media (max-width: $small-screen){

  .home{
    
    width: 100%;
    background-size: contain;
  }
  h1{
    margin: 90px 0 0;
  }

  
}
