.home{
height: 90vh;
background-image: url("../imgs/seaa.jpg");
background-size: cover;
text-align: center;
color: white;
font-size: 3rem;
font-family: hand-write;

}
a{
    color :white;   
}
a:hover{
  color: rgba(0, 255, 255, 0.877);
}
