.home{
height: calc(100vh - 50px);
text-align: center;
color:rgb(10, 10, 10);
font-size: 3rem;
font-family: hand-write;

img{
  // object-fit: cover;
  width: 100vw;
  height: 100%;
}
h1{
  font-weight: 600;
  margin:90px 0 105px;
  margin-inline-end: 12%;
  font-size: 5.5rem;

}
}
pre{
  margin:10px 0;
margin-inline-end: 32%;
font-family: hand-write;
}

.home a{
    color:white;
    margin-top: 50px;
    font-size: 3.5rem;
    font-weight: 600;
    transform: scale(1);
  animation: pulse 2s infinite;
  font-family: vidaloka;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    color:rgb(163, 161, 16);
  }
  70% {
    transform: scale(1);
    color: black;
  }
  100% {
    transform: scale(0.95);
    color:rgb(163, 161, 16);
  }
}
.second{
  background-color: #FFEEDC;

}
.home p{
  margin: 0;
}
.home a:hover{
  animation-play-state: paused;
}
.home p:hover{
  color:black;
}

.home-details-comtainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  color:#15466b;
  font-family: montserrat-medium;
  background-color: #fff;
}


.home-details {
  

  img {
    width: 40%;
    height: 400px;
    
  }
  .info {
    margin: auto 0;

    h2 {
      font-size: 1.875rem;
      font-family: montserrat-medium;
    }
    p {
      font-family: montserrat-regular;
      font-size: 1.3rem;
    }
  }
}

@media (max-width: $small-screen){

  .home{
    // height: 65vh;
    width: 100%;
    background-size: contain;
  }
  h1{
    margin: 90px 0 0;
  }

  .home-details{
    margin-top: 70px;
    flex-direction: column-reverse;

    img{
      width:100%;
    }
    .info{
      margin: auto 30px;

      h2{
        font-size: 1.875rem;
        font-family: montserrat-medium;
      }
      p{
        font-family: montserrat-regular;
        font-size: 1.3rem;
      }
    }
  }
  .second{
    flex-direction: column;
  }
}
