.card-modal{
    
    
    
    .details-modal{
        background-color: #F4F5F7;
        position: fixed;
        display: block;
        position: fixed;
        left: 40vw;
        top: 20vh;
        height: 60vh;
        width: 60vh;
        z-index: 11;
    }
}