.card-modal{
    
    
    .empty-modal {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .details-modal{
        background-color: #F4F5F7;
        position: fixed;
        display: block;
        position: fixed;
        left: 40vw;
        top: 20vh;
        height: 60vh;
        width: 60vh;
        z-index: 11;
    }
    .card-header{
        
    }
}