
*{
    box-sizing: border-box;
   
}
a{
    color:#1b0f07;
}

// @font-face {
//     font-family: Bree;
//     src: url(../fonts/BreeSerif-Regular.ttf);
// }
// @font-face {
//     font-family: Comforta;
//     src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
// }

body{
    margin: 0;
    font-family: roboto;
}

// ul{
//     list-style: none;
// }

// ul li{
//     font-family: Comforta,serif;
//     background-color: #f5deb314;
//     color:#ffdbc5;
//     padding: 25px;
//     border-radius:  15px 50px;
//     height: 100%;
//     width: 100%;
// }
