.btn{
    border-radius: 2px;
    color:#6b6b6b;
    background-color:#f5deb314 ;
    border: 1.5px solid #ffdbc5;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #ffdbc5;
    color: black;
}