
/* HELPERS */

.grid {
    display:grid;
}
 .flex{
     display: flex;
 }
 .column{
     flex-direction: column;
 }
 .justify-center{
     justify-content: center;
 }
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.green{
    color: green;
}
.red{
    color: red;
}
.flex-start{
    justify-content: start;
}
.mrg-top{
    margin-top: 60px;
}
.mrg-left{
    margin-inline-start: 30px;
}
.mrg-bottom{
    margin-bottom:30px ;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.fiftyPw{
    width: 50%;
}
.padd30{
    padding:30px;
}
.padd50{
    padding:50px;
}
.contain{
    object-fit:contain;
}
.fiftyPh{
    height: 50%;
}
.ninetyVh{
    height: 90vh;
}
.twentyPw{
    width:20%;
}
.eightyPw{
    width:80%;
}
