
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Medium.ttf)
}
@font-face {
    font-family: logo;
    src: url(../fonts/logo/NanumBrushScript-Regular.ttf)
}
@font-face {
    font-family: hand-write;
    src: url(../fonts/handwrite/DancingScript-Medium.ttf)
}
@font-face {
    font-family: vidaloka;
    src: url(../fonts/vidaloka/Vidaloka-Regular.ttf)
}
@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf)
}
@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}