// //Colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;

// // Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;

// values
// $board-header-height: 8vh;
$small-screen: 535px;
$medium-screen: 950px;
