.add-img-page{

    .add-img-modal{
        background-color: #F4F5F7;
        position: fixed;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
        // right: 0;
        top: 10vh;
        height: 60vh;
        width: 545px;
        z-index: 11;
    
    }
    .img-preview{
        width: 80px;
        height: 80px;
        z-index: 12;
        margin: 10px;
        cursor: pointer;
        border-radius: 3px;
         
    }
 @media (max-width:620px){
    .add-img-modal{
        width:400px;
        grid-template-columns:150px  150px;
        grid-template-rows:auto;
        gap: 30px;
    height: auto;
    
       
         
    }
    .img-preview{
        width: 50px;
        height: 50px;

  }
 }

  
    .add-private-img{
        text-align: center;
    }
    .img-preview:hover{
        -moz-box-shadow: 0 0 10px rgb(158, 158, 158);
        -webkit-box-shadow: 0 0 10px rgb(158, 158, 158);
        box-shadow: 0 0 10px rgb(158, 158, 158);
    }
}

