.add-img-page{

    .add-img-modal{
        background-color: #F4F5F7;
        position: fixed;
        display: block;
        // right: 0;
        top: 10vh;
        height: 60vh;
        width: 30vw;
        z-index: 11;
    
    }
    .img-preview{
        width: 130px;
        height: 100px;
        z-index: 12;
        margin: 10px;
        cursor: pointer;
    }
    .add-private-img{
        text-align: center;
    }
}
