.board-list{
    padding-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
}
.ba-boards{
    margin: auto;
    
}
.board-app{
    background-color: #F4F5F7;
}

