.board-header{
    width: 100%;
    background-color: #2d636dc7;
    height: 38px;
    font-weight: 400;
    font-size: 1.3rem;
    color:white; 
    font-family: roboto;

    .board-header-btn-small-screen{
        display: none;
        @media (max-width: $small-screen){
            display: block;
            font-size: 1.5rem;
            padding: 3px 8px 6px 13px;
            margin: 4px 2px;
            color: white;
            border: none;
        }
    }

    .name-and-member{
        font-size: 1.1rem;
        @media (max-width: $small-screen){
            font-size: 0.8rem;
        }
        label{
            cursor: text;
            &:hover{
                text-decoration: underline white;
            
            }

        }
    }
    .avatar-members{
        margin: 0 70px;
        .MuiAvatar-root{
            height: 31px;
            width: 31px;
            margin-top: 4px;
            

            @media (max-width: $small-screen){
                height: 28px;
                width: 28px;
                margin: 5px -3px 0;
            }
        }
        @media (max-width: $small-screen){
            margin-left: 10px;
        }
    }

    .board-header-btn{
        padding: 6px 12px;
        margin: 4px;
    
        color: white;
        text-shadow: none;
        border-radius: 3px;
        border-color:rgba(9, 30, 66, 0.04);

        @media (max-width: $small-screen){
            display: none;
        }

        &:hover{
            border-color:rgba(171, 176, 184, 0.466);
            display: block;
        }
    }
    
    .menu{
        margin-right: 17px;
        background-color:rgba(255, 0, 0, 0);

        @media (max-width: $small-screen){
            padding: 4px 10px 6px 9px;
            margin-top: 3px;
            background-color:rgba(255, 0, 0, 0);
        }
    }
}

.board-header-invite{
    margin:4px;
}

.header-label-class{
    cursor:pointer;
    color: #ffffff;
    margin-left: 10px;
    font-size: 0.95rem;
}