
.board-preview {
  color: #fff;
  position: relative;
  min-height: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.board-preview:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: all .2s linear;
  border-radius: 5px;
}

.board-preview:hover:before {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

a{
    text-decoration: none;
}

.board-preview h3{
  color:white;
  position: relative
}

.img-board-preview{
  object-fit:contain;
            width: 100px;
            height: 100px;     
}


