.board-list{
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin: 30px 50px;
  @media (max-width: 1100px){
    margin: 30px 80px;
    grid-template-columns: repeat(3,1fr);


  }
  @media (max-width: 500px){
    margin: 30px;
    margin-top: 60px;
    grid-template-columns: repeat(2,1fr);

  }
}
.board-app{
    background-image: url("../imgs/seaa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    // @media (max-width:820px){
    // background-size: cover;

    // }  
}
.fake-board-app{
    // background-color:#085868e1;
    // background-color:#5a5a5a27;
    width: 100vw;
    height: 100vh;
    z-index: 8;  
}
.add-note h3{
    margin: auto;
}



