.card-list{
    background-color: #ebecf0a6;
    min-width: 280px;
    max-width: 280px;
    margin: 10px 5px;
    border-radius: 5px;
    max-height: 76vh;
    height: auto;
    align-self: flex-start;
}
.group-title{
 margin:auto;
 height:20px;
 font-weight: 600;
}
.add-card-btn{
    height: 35px
}
.card-header{
    height: 40px;
}