.card-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9;

    .details-modal{
        flex-direction: column;
        background-color: #F4F5F7;
        display: flex;
        margin: 50px auto 0;
        width: 40%;
        min-height: 500px;
        z-index: 11;
        padding: 20px;
        .btn-card-remove{
            padding:0;
            width: 30px;
        }
        .card-img{
            object-fit:cover;
            width: 40%;
            height: 40%;
        }
        .modal-details-left{
            width:100%;
        }
        .side-bar-details-right{
            width: 222px;
        }
        .not-edit-card-description{
            background-color: #F4F5F7;
            cursor: pointer;
            resize: none;
            width: 100%;
            border-style: none
        }
        .edit-card-description{
            background-color: white;
            width: 100%;
        }
        .edit-header{
            margin-top:10px;
            height: 32px;
            p{
                margin:5px;
            }
        }
        .small-label{
            width: 40px;
            height: 40px;
            margin: 0 1.5px;
            border-radius:6px;

            &:hover{
                opacity: 0.7;
            }
        }
    }
}