
.card-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9;
    font-size: small;
    .btn{
        font-size: 10px;
        margin-bottom: 5px;
        padding: 6px 12px;
        height: 32px;
        margin-top: 8px;
        border-radius: 3px;
        border: none;
        text-align: left;
        transition-property: background-color,border-color,box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
    }
    .delete-img-btn{
        align-self: flex-end;
        align-self: flex-end;
        transform: translate(0, -32px);
    }
    .card-header{
    height: 160px;
    margin-bottom: 5px;
}

    .body-div{
    height: 80%;
    width: 100%;
    margin-top: 10px;
}
    .card-title{
        margin-bottom: 15px;
        margin-top: 0;
    }
    .details-modal{
        flex-direction: column;
        background-color: #F4F5F7;
        display: flex;
        margin: 10vh auto 30px;
        width: 85vh;
        min-height: 84vh;
        z-index: 11;
        padding: 20px;
        .btn-card-remove{
            padding:0;
            width: 30px;
           
        }

        .card-img{
            object-fit:cover;
            width: auto;
            height: auto;
            max-height: 100%;
            border-radius: 6px;
        }

        .modal-details-left{
            width:100%;
            padding:0 10px 10px;
        }
        .side-bar-details-right{
            width: 20%;
        }
        .edit-desc{
            background-color:rgba(9,30,66,.04);
            margin-bottom: 20px;
        }
        .not-edit-card-description{
            background-color: #F4F5F7;
            cursor: pointer;
            resize: none;
            width: 100%;
            border-style: none;
            margin:10px 0;
        }
        .edit-card-description{
            width: 100%;
            margin:10px 0 0;
            outline:none;
            border:none;
        }
        .edit-header{
            // margin-top:10px;
            height: 32px;
            p{
                margin:5px;
            }
        }
        .small-label{
            width: 40px;
            height: 40px;
            margin: 0 1.5px;
            border-radius:6px;

            &:hover{
                opacity: 0.7;
            }
        }
    }
}

@media (max-width:650px){
    .card-modal{
    .details-modal{
        width: 80%;
    }}
}
@media (max-width:420px){
    .card-modal{
    .details-modal{
        width: 100%;
    }}
}

