.card-modal{
    
    
    .empty-modal {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .details-modal{
        background-color: #F4F5F7;
        position: fixed;
        display: flex;
        position: fixed;
        left: 15vw;
        top: 20vh;
        width: 60vw;
        height: 60%;
        z-index: 11;
        flex-direction: column;

        .card-img{
            object-fit:cover;
            width: 40%;
            height: 40%;
        }

        .not-edit-card-description{
            background-color: #F4F5F7;
            cursor: pointer;
            resize: none;
            width: 100%;
            border-style: none
        }
        .edit-card-description{
            resize: none;
            width: 100%;
            // border-style: none
        }
    }
}