.card-list{
    min-width: 260px;
    max-width: 260px;
    margin: 6px 5px 0;
    border-radius: 4px;
    max-height: calc(100vh - 112px);
    height: auto;
    align-self: flex-start;

    @media (max-width: $small-screen){
        min-width: 90vw;
        max-width: 90vw;
    }
}
.group-title{
    margin:auto;
    height:20px;
    font-weight: 500;
    margin-left:10px;
    align-self: center;
    color:#3f3f3f
    
}
.add-card-btn{
    height: 35px;
    border-radius: 0px 0px 6px 6px;
    background-color: #ebecf0;
    border: none;
    cursor: pointer;
    
}
.card-header{
    height: 40px;
    
}

.adding-div{
    background-color: #ebecf0a6;
    min-width: 260px;
    max-width: 260px;
    margin: 10px 0;
    border-radius: 5px;
    height: auto;
    align-self: flex-start;
    align-items: center;
}
.adding-div form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px;
}
.adding-div input{
    height: 40px;
    padding: 5px;
    width: 100%;
    margin-bottom: 3px;
   
    border-radius: 3px;
    align-self: center;
}
.cancel-add{
    margin-left: 2px;
}


::-webkit-scrollbar {
    margin: 0 2px;
    width:5px;
    margin-right: 4px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
   
}
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    
   
}
::-webkit-scrollbar-thumb:vertical:active {
   border-radius: 100px;
   
}
::-webkit-scrollbar-thumb:horizontal {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:horizontal:active {
    border-radius: 100px;
}

 

