.checklist-preview-div{
   
    h3{margin:5px;}
    h4{margin:5px;}
    width: 100%;
    background-color: rgba(9, 30, 66, 0.04);
    
}
.add-todo-btn{
    max-width:60px;
}
.delete-checklist{
    border: none;
    box-shadow: none;
    border-radius: none;
    background-color:#F4F5F7;
}
.checklist-prev-header{
    height: 35px;
    padding: 0 0 0 5px;
}
#progress-bar{
    width: 300px;
}
