.color-container{
    width: 100px;
    height: 205px;
    background-color: rgba(255, 255, 255, 0.904);
    position: relative;
    z-index: 100;

    span{
        height: 32px;
        margin: 1px 4px;
        border-radius: 3px;
        z-index: 100;
    }
}