.color-container{

    width:240px;
    height: 205px;
    background-color: rgba(255, 255, 255, 0.822);

    position: absolute;
    left: 515px;
    top: 110px;

    z-index: 100;

    span{
        height: 32px;
        margin: 1px 4px;
        border-radius: 3px;
        z-index: 100;
    }
}