.graph-container{
    width: 50vw;

   
}
.choose-member-btn{
    background-color: #E5E5E5;
    border: none;
    margin: 0 0 6px calc(50vw - 60px);
    width: 120px;
    height: 47px;
    cursor: pointer;
    color: #666666;
}