.graph-container{
    width: 50vw;
    margin-top: 45px;
}
.choose-member-btn{
    background-color: #E5E5E5;
    border: none;
    margin: 0 0 6px calc(50vw - 60px);
    width: 120px;
    height: 47px;
    cursor: pointer;
    color: #666666;
}
.back-board-btn{
    width: 9vw;
    position: absolute;
    right: 4px;
    top: 54px;
    height: 40px;
    background-color: #2d636dc7;
    color: white;
}