
    .MuiAvatar-root{
        height: 33px;
        width: 33px;
    }
    .MuiMenuItem-root{
        height: 50px;
        padding: 11px;
    }
    .MuiListItem-gutters{
        padding: 0px 6px 0px 6px;
    }

    .user-name{
        margin: 7px 0 21px 12px;
    }
    .members{
        height: 30px;
        margin-left: -7px;
    }
    .invite-btn{
        padding: 6px 12px;
        margin: -5px;
        color: white;
        text-shadow: none;
        background-color: rgba(255, 0, 0, 0);
        border-color:rgba(9, 30, 66, 0.04);

        @media (max-width: $small-screen){
            display: none;
        }

        &:hover{
            border-color:rgba(171, 176, 184, 0.466);
            display: block;
        }
    }
    .invite-btn-small-screen{
        display: none;

        @media (max-width: $small-screen){
            display: block;
            font-size: 1.5rem;
            padding: 10px 15px 4px 13px;
            margin: -5px 5px;
            color: white;
            border: none;
            background-color: rgba(255, 0, 0, 0);
            width: 20px;
            position: relative;
            top: -2px;
    }
}

.board-header-invite-details{
    padding: 10px 0;

    .invite-details-btn{
        display: block;
        padding: 9px;
        background-color: #E2E4E9;
        margin: 7px 14px 6px 0;
        height: 33px;
        position: relative;
        top: -3px;
        cursor: pointer;

        @media (max-width: $small-screen){
            display: none;
        }
    }

    .invite-details-btn-small-screen{
        display: none;

        @media (max-width: $small-screen){
            display: block;
            cursor: pointer;
            font-size: 38px;
            margin: 0px 0 0 -14px;
        }
    }
}
