.modal-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box
}
.canvas-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    top: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box
}
.modal-content {
    padding: 15px;
    background: white;
    max-width: 50%;
    max-height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: relative;
}
.login-modal{
    justify-content: space-around;
    background: white;
    max-width: 40%;
    min-width: 25%;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: relative;
    padding: 10px;
}
.login-modal p{
    color: #1b0f07;
    margin-bottom: 10px;
    padding: 8px;
    
}
.login-modal span{
    color: rgb(107, 107, 255);
    cursor: pointer;

    &:hover{
        color: rgb(3, 3, 204); 
    }
}
.canvas-modal-content{
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: relative;
}
@media (max-width:800px){
    .modal-content {
    max-width: 65%;
    }
    .login-modal{
        max-width: 80%
    }
    
}
