.nav-bar{
    height: 8vh;
    padding: 0 10px;
    background-color: #077b91d1;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 6fr 1fr 1fr 1fr;
    
}
.nav-bar a{
    color: white;
    //  font-family: vidaloka;
}
.logo{
    margin:auto;
    font-family: hand-write;
    font-size: 2.5rem;
    grid-column:4/5;
}

.navdiv-s{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin: auto;
    font-weight: bold;
}
.navdiv-s:hover,.nav-bar a:hover{
    color:#3d185c ;  
}
.signup{
    grid-column:6/7;
    cursor: pointer;
}
.login{
    grid-column:7/8;
    cursor: pointer;
}
.hide {
    display: none;
}
