.side-menu {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    margin-top: 8vh;
    width: 350px;
    background-color: #F4F5F7;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.8s;;
    padding: 10px ;
}

.side-menu hr{
    margin: 7px;
}
.side-menu-list{
    font-size: 1rem;
    

}
.side-menu *{
    color:#666666;
    font-size: 1rem;
}

.side-menu-list li{
    align-items: center;
    margin-left: 3px;
    display: flex;
    justify-content:flex-start;
    list-style: none;
}
.menu-header{
    height: 40px;
    align-items: center;
    
   
}
.menu-header *{
cursor: pointer;
}
.menu-actions{
    height: 80px;
    justify-content: space-evenly;
    


}
.menu-action{
   align-items: center;
   height: 30px;
   cursor: pointer;
   border-radius: 3px;
}
.menu-action:hover{
    background-color: #dde0e6;
 }
.menu-action span{
    margin-left: 5px;
 }
 .activity-log span{
    margin-left: 5px;
 }
