.todo-title{
    margin-inline-start: 5px;  
    cursor: pointer;
    padding: 0 10px;
}
.todo-btn-delete{
    border: none;
margin-right: 10px;
color: #666666;

&:hover{
    color: rgba(112, 116, 124, 0.651);
}
}